body {
    background-color: rgba(18, 38, 32, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION */
nav {
    position: sticky;
    top: 0px;
}
.navbar {
    background-color: rgba(214, 173, 96, 1);
    line-height: 65px;
    display: flex;
    align-items: center;
}
.navbarcontent a{
    text-decoration: none;
    color: rgba(136, 74, 57, 1);
    font-family: Prata;
    font-size: 14px;
    padding: 14px 16px;
    text-align: center;
}
.navbarcontent {
    margin-left: auto;
}
.navbarcontent a:hover {
    padding-top: 25px;
    padding-bottom: 23px;
    background-color: rgba(182, 141, 64, 1);
    transition: ease 0.2s;
}
.imgsize img{
    max-width: 120px;
    margin-left: 50px;
}

/* HEADER */
.header {
    background-image: url(../Asset/homeheader.png);
    height: 591px;
}
.header .title p.welcome{
    font-size: 52px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    margin-left: 185px;
    padding-top: 130px;
}
.header .title p.to {
    font-size: 32px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    margin-left: 185px;
}
.header hr.line {
    border: 1.7px solid rgba(182, 141, 64, 1);
    width: 30cm;
    margin-left: 110px;
    margin-top: 45px;
}
.header .jcc p {
    font-size: 56px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    text-align: right;
    padding-top: 45px;
    padding-right: 190px;
}

/* WHY JCC */
.whyjcc .title{
    font-size: 36px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.reasons {
    display: flex;
    flex-direction: row;
    padding: 0px 80px;
}
.reason1 {
    margin-top: 10px;
}
.reason1 img {
    margin-left: 150px;
    margin-bottom: 15px;
}
.reason1 span{
    font-size: 24px;
    font-family: Prata;
    color: rgba(182, 141, 64, 1);
    margin-left: 75px;
}
.reason1 p {
    font-size: 16px;
    font-family: Prata;
    color: rgba(244, 235, 208, 1);
    padding: 15px 0px;
    margin-left: 30px;
    text-align: center;
}
.reason2 {
    margin-top: 10px;
}
.reason2 img {
    margin-top: 10px;
    margin-left: 200px;
    margin-bottom: 10px;
}
.reason2 span{
    font-size: 24px;
    font-family: Prata;
    color: rgba(182, 141, 64, 1);
    margin-left: 167px;
}
.reason2 p {
    font-size: 16px;
    font-family: Prata;
    color: rgba(244, 235, 208, 1);
    padding: 20px 40px;
    margin-left: 30px;
    text-align: center;
}
.reason3 img {
    margin-left: 150px;
    margin-bottom: 10px;
}
.reason3 span{
    font-size: 24px;
    font-family: Prata;
    color: rgba(182, 141, 64, 1);
    margin-left: 158px;
}
.reason3 p {
    font-size: 16px;
    font-family: Prata;
    color: rgba(244, 235, 208, 1);
    padding: 15px 20px;
    margin-left: 20px;
    text-align: center;
}

/* MINI ABOUT US */
.miniaboutus {
    background-color: rgba(182, 141, 64, 1);
    margin-top: 40px;
    display: flex;
    height: 470px;
}
.miniaboutus .title p {
    font-size: 40px;
    font-family: Prata;
    color: rgba(18, 38, 32, 1);
    padding-left: 70px;
    padding-top: 45px;
}
.miniaboutus .title .paragraph p {
    font-size: 18px;
    font-family: Prata;
    color: rgba(30, 30, 30, 1);
    padding-left: 70px;
    padding-right: 99px;
    padding-top: 20px;
    text-align: justify;
}
.miniaboutus .image img{
    width: 585px;
    height: 470px;
}
.title .button {
    margin-top: 40px;
    margin-left: 70px;
}
.title .button span{
    padding: 20px 15px;
    background-color: rgba(214, 173, 96, 1);
}
.title .button span:hover {
    background-color: rgba(182, 141, 64, 1);
    transition: ease 0.2s;
}
.title .button span a {
    text-decoration: none;
    font-size: 20px;
    color: rgba(18, 38, 32, 1);
    margin-right: 5px;
}
.title .button span img {
    width: 28px;
}

/* UPCOMING EVENTS */
.upcoming .title p {
    font-size: 39px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    margin-top: 60px;
    margin-left: 70px;
    margin-bottom: 30px;
}
.upcoming .title hr.line {
    border: 1px solid rgba(182, 141, 64, 1);
    width: 31cm;
    margin-left: 70px;
}
.upcoming .event {
    display: flex;
    flex-direction: row;
}
.upcoming .upcoming1 img {
    width: 450px;
    height: 600px;
    padding: 10px 10px;
    background-color: rgba(214, 173, 96, 1);
    margin-top: 50px;
    margin-left: 110px;
}
.upcoming .upcoming1 p.eventname1 {
    font-size: 29px;
    font-family: Prata;
    color: rgba(182, 141, 64, 1);
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 20px;
}
.upcoming .upcoming1 span {
    font-size: 20px;
    font-family: Prata;
    color: rgba(18, 38, 32, 1);
    padding : 3px 140px;
    background-color: rgba(182, 141, 64, 1);
    margin-left: 110px;
}
.upcoming .upcoming2 img {
    width: 450px;
    height: 600px;
    padding: 10px 10px;
    background-color: rgba(214, 173, 96, 1);
    margin-top: 50px;
    margin-left: 210px;
}
.upcoming .upcoming2 p.eventname2 {
    font-size: 29px;
    font-family: Prata;
    color: rgba(182, 141, 64, 1);
    margin-top: 20px;
    margin-left: 285px;
    margin-bottom: 20px;
}
.upcoming .upcoming2 span {
    font-size: 20px;
    font-family: Prata;
    color: rgba(18, 38, 32, 1);
    padding : 3px 118px;
    background-color: rgba(182, 141, 64, 1);
    margin-left: 210px;
}

/* FOOTER */
footer {
    margin-top: 100px;
    padding: 100px 100px;
    background-color: rgba(30, 30, 30, 1);
    display: flex;
    flex-direction: row;
}
footer .foot {
    display: flex;
    flex-direction: row;
}
footer .logo {
    margin-top: 20px;
}
.connect span.connectwithus {
    font-size: 22px;
    font-family: Prata;
    color: rgba(182, 141, 64, 1);
    margin-left: 150px;
}
.connect .sosmed {
    margin-left: 140px;
    margin-top: 20px;
}
.connect .sosmed a{
    padding: 0px 10px;
}
footer .info p{
    font-size: 17px;
    font-family: Prata;
    color: rgba(244, 235, 208, 1);
    margin-left: 180px;
}

@media (max-width: 768px) {
    .navbarcontent {
        margin: auto;
    }
    .imgsize img {
        width: 100%;
        height: auto;
        margin-left: 50px;
    }
    .header {
        background-repeat: no-repeat;
        width: auto;
    }
    .header .title p.welcome{
        margin-left: 140px;
        padding-top: 130px;
    }
    .header .title p.to {
        margin-left: 140px;
    }
    .header hr.line {
        width: 14cm;
    }
    .header .jcc p {
        font-size: 46px;
        padding-right: 140px;
    }
    .header {
        display: flex;
        flex-direction: column;
    }
    .whyjcc .title{
        font-size: 30px;
    }
    .reasons {
        display: flex;
        flex-direction: column;
    }
    .reason1 img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .reason1 span{
        font-size: 20px;
        margin-left: 225px;
    }
    .reason1 p {
        font-size: 16px;
        padding: 15px 100px;
    }
    .reason2 img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-left: 35px;
    }
    .reason2 span{
        font-size: 20px;
        margin-left: 255px;
    }
    .reason2 p {
        font-size: 16px;
        padding: 20px 100px;
    }
    .reason3 img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .reason3 span{
        font-size: 20px;
        margin-left: 270px;
    }
    .reason3 p {
        font-size: 16px;
        padding: 15px 90px;
    }
    .miniaboutus {
        display: flex;
        flex-direction: column;
        height: 470px;
    }
    .miniaboutus .image img{
        display: none;
    }
    .upcoming .title p {
        font-size: 30px;
    }
    .upcoming .title hr.line {
        width: 16.5cm;
    }
    .upcoming .event {
        display: flex;
        flex-direction: column;
    }
    .upcoming .upcoming1 img {
        width: 450px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .upcoming .upcoming1 p.eventname1 {
        margin-left: 158px;
    }
    .upcoming .upcoming1 span {
        margin-left: 158px;
    }
    .upcoming .upcoming2 img {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .upcoming .upcoming2 p.eventname2 {
        margin-left: 225px;
    }
    .upcoming .upcoming2 span {
        margin-left: 158px;
    }
    footer {
        display: flex;
        flex-direction: column;
        padding: 50px 50px;
    }
    footer .logo {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    footer .foot {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    .connect span.connectwithus {
        margin-left: 10px;
        font-size: 20px;
    }
    .connect .sosmed {
        margin-left: 0px;
        margin-top: 10px;
    }
    .connect .sosmed a{
        padding: 0px 10px;
    }
    footer .info p{
        margin-left: 170px;
        font-size: 14px;
    }
}