body {
    background-color: rgba(18, 38, 32, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION */
nav {
    position: sticky;
    top: 0px;
}
.navbar {
    background-color: rgba(214, 173, 96, 1);
    line-height: 65px;
    display: flex;
    align-items: center;
}
.navbarcontent a{
    text-decoration: none;
    color: rgba(136, 74, 57, 1);
    font-family: Prata;
    font-size: 14px;
    padding: 14px 16px;
    text-align: center;
}
.navbarcontent {
    margin-left: auto;
}
.navbarcontent a:hover {
    padding-top: 25px;
    padding-bottom: 23px;
    background-color: rgba(182, 141, 64, 1);
    transition: ease 0.2s;
}
.imgsize img{
    max-width: 120px;
    margin-left: 50px;
}

/* HEADER */
.header {
    background-image: url(../Asset/contactusheader.png);
    height: 591px;
}
.header .title p{
    font-size: 44px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    padding-left: 125px;
    padding-top: 175px;
}
.header .desc p {
    font-size: 20px;
    font-family: Prata;
    color: rgba(244, 235, 208, 1);
    padding-left: 125px;
    padding-right: 760px;
    padding-top: 5px;
    text-align: justify;
}

/* CUST DATA */
.data p.warn {
    font-size: 20px;
    font-family: Prata;
    color: rgba(255, 0, 0, 1);
    margin-top: 50px;
    margin-left: 140px;
}
.data form .data1 label {
    display: flex;
    flex-direction: row;
}
.data form .data1 label p.name {
    font-size: 30px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    margin-top: 25px;
    margin-left: 140px;
}
.data form .data1 label p.must {
    font-size: 30px;
    font-family: Prata;
    color: rgba(255, 0, 0, 1);
    margin-left: 5px;
    margin-top: 25px;
}
.data form .data1 input {
    width: 1050px;
    height: 45px;
    margin-left: 140px;
    font-size: 18px;
    font-family: Prata;
    padding: 0px 15px;
}
/*  */
.data form .data2 label {
    display: flex;
    flex-direction: row;
}
.data form .data2 label p.email {
    font-size: 30px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    margin-top: 40px;
    margin-left: 140px;
}
.data form .data2 label p.must {
    font-size: 30px;
    font-family: Prata;
    color: rgba(255, 0, 0, 1);
    margin-left: 5px;
    margin-top: 35px;
}
.data form .data2 input {
    width: 1050px;
    height: 45px;
    margin-left: 140px;
    font-size: 18px;
    font-family: Prata;
    padding: 0px 15px;
}
/*  */
.data form .data3 label {
    display: flex;
    flex-direction: row;
}
.data form .data3 label p.phone {
    font-size: 30px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    margin-top: 40px;
    margin-left: 140px;
}
.data form .data3 label p.must {
    font-size: 30px;
    font-family: Prata;
    color: rgba(255, 0, 0, 1);
    margin-left: 5px;
    margin-top: 35px;
}
.data form .data3 input {
    width: 1050px;
    height: 45px;
    margin-left: 140px;
    font-size: 18px;
    font-family: Prata;
    padding: 0px 15px;
}
/*  */
.data form .data4 label.title {
    display: flex;
    flex-direction: row;
}
.data form .data4 label p.preferred {
    font-size: 30px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    margin-top: 40px;
    margin-left: 140px;
}
.data form .data4 label p.must {
    font-size: 30px;
    font-family: Prata;
    color: rgba(255, 0, 0, 1);
    margin-left: 5px;
    margin-top: 37px;
}
.data form .data4 input {
    width: 30px;
    height: 30px;
    margin-left: 140px;
}
.data form .data4 label.desc {
    font-size: 22px;
    font-family: Prata;
    color: rgba(244, 235, 208, 1);
    margin-left: 15px;
}
/*  */
.data form .data5 label {
    display: flex;
    flex-direction: row;
}
.data form .data5 label p.message {
    font-size: 30px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    margin-top: 40px;
    margin-left: 140px;
}
.data form .data5 label p.note {
    font-size: 15px;
    font-family: Prata;
    color: rgba(214, 173, 96, 1);
    margin-top: 55px;
    margin-left: 5px;
}
.data form .data5 label p.must {
    font-size: 30px;
    font-family: Prata;
    color: rgba(255, 0, 0, 1);
    margin-left: 5px;
    margin-top: 37px;
}
.data form .data5 textarea {
    width: 1050px;
    height: 400px;
    margin-left: 140px;
    font-size: 18px;
    font-family: Prata;
    padding: 15px 15px;
    resize: none;
}
/*  */
.data .submit {
    font-size: 15px;
    font-family: Prata;
    color: rgba(18, 38, 32, 1);
    margin-top: 60px;
    margin-left: 585px;
    padding: 15px 35px;
    text-align: center;
    background-color: rgba(182, 141, 64, 1);
    border: none;
    cursor: pointer;
}
.data .submit:hover {
    background-color: rgba(214, 173, 96, 1);
    transition: ease 0.4s;
}

/* FOOTER */
footer {
    margin-top: 100px;
    padding: 100px 100px;
    background-color: rgba(30, 30, 30, 1);
    display: flex;
    flex-direction: row;
}
footer .foot {
    display: flex;
    flex-direction: row;
}
footer .logo {
    margin-top: 20px;
}
.connect span.connectwithus {
    font-size: 22px;
    font-family: Prata;
    color: rgba(182, 141, 64, 1);
    margin-left: 150px;
}
.connect .sosmed {
    margin-left: 140px;
    margin-top: 20px;
}
.connect .sosmed a{
    padding: 0px 10px;
}
footer .info p{
    font-size: 17px;
    font-family: Prata;
    color: rgba(244, 235, 208, 1);
    margin-left: 180px;
}

@media (max-width: 768px) {
    .navbarcontent {
        margin: auto;
    }
    .imgsize img {
        width: 100%;
        height: auto;
        margin-left: 50px;      
    }
    .header {
        height: 450px;
    }
    .header .title p {
        font-size: 36px;
        padding-left: 100px;
        padding-top: 135px;
    }
    .header .desc p {
        font-size: 16px;
        padding-left: 100px;
        padding-right: 280px;
        padding-top: 5px;
        text-align: justify;
    }
    .data p.warn {
        font-size: 16px;
        margin-top: 50px;
        margin-left: 100px;
    }
    .data form .data1 label p.name {
        font-size: 24px;
        margin-left: 100px;
    }
    .data form .data1 label p.must {
        font-size: 24px;
    }
    .data form .data1 input {
        width: 550px;
        height: 35px;
        margin-left: 100px;
        font-size: 16px;
    }
    .data form .data2 label p.email {
        font-size: 24px;
        margin-left: 100px;
    }
    .data form .data2 label p.must {
        font-size: 24px;
    }
    .data form .data2 input {
        width: 550px;
        height: 35px;
        margin-left: 100px;
        font-size: 16px;
    }
    .data form .data3 label p.phone {
        font-size: 24px;
        margin-left: 100px;
    }
    .data form .data3 label p.must {
        font-size: 24px;
    }
    .data form .data3 input {
        width: 550px;
        height: 35px;
        margin-left: 100px;
        font-size: 16px;
    }
    .data form .data4 label p.preferred {
        font-size: 24px;
        margin-left: 100px;
    }
    .data form .data4 label p.must {
        font-size: 24px;
    }
    .data form .data4 input {
        width: 25px;
        height: 25px;
        margin-left: 100px;
    }
    .data form .data4 label.desc {
        font-size: 18px;
        font-family: Prata;
        color: rgba(244, 235, 208, 1);
        margin-left: 15px;
    }
    .data form .data5 label p.message {
        font-size: 24px;
        margin-left: 100px;
    }
    .data form .data5 label p.note {
        font-size: 12px;
    }
    .data form .data5 label p.must {
        font-size: 24px;
    }
    .data form .data5 textarea {
        width: 550px;
        height: 200px;
        margin-left: 100px;
        font-size: 16px;
    }
    .data .submit {
        font-size: 12px;
        margin-left: 320px;
    }
    footer {
        display: flex;
        flex-direction: column;
        padding: 50px 50px;
    }
    footer .logo {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    footer .foot {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    .connect span.connectwithus {
        margin-left: 10px;
        font-size: 20px;
    }
    .connect .sosmed {
        margin-left: 0px;
        margin-top: 10px;
    }
    .connect .sosmed a{
        padding: 0px 10px;
    }
    footer .info p{
        margin-left: 170px;
        font-size: 14px;
    }
}